<!-- start: screens/xnat_ctSessionData_search.vm -->

<div id="ct-advanced-search" class="advanced-search-fields">

    <a href="#!" style="position:absolute;right:0;top:0;font-size:12px;" class="link" onclick="XNAT.ui.popup('$link.setPage("SearchHelp.vm").addPathInfo("popup","true")','Help',500,600)">Help</a>

    <div class="search-group by-criteria">

        <h3>
            <label>
                Search by Criteria
                <input type="checkbox" class="search-method by-criteria" value="by-criteria" checked>
            </label>
        </h3>

        <!-- subject fields -->
        <h4>$displayManager.getSingularDisplayNameForSubject() Fields</h4>

        <div class="search-item">
            <h5>$displayManager.getSingularDisplayNameForSubject():</h5>
            #xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
        </div>

        <div class="search-item">
            <h5>ID:</h5>
            #xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
        </div>

        <div class="clear"></div>

        <div class="search-item">
            <h5>Age:</h5>
            #xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
        </div>

        <div class="search-item">
            <h5>Inserted:</h5>
            #xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
        </div>

        <div class="clear"></div>

        <div class="search-item">
            <h5>Date Range:</h5>
            #xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
        </div>

        <div class="clear"></div>

        #set($mr_projects=$data.getSession().getAttribute("user").getAllowedValues("${schemaElement.getFullXMLName()}","${schemaElement.getFullXMLName()}/project","read"))

        <br>

        <div class="search-item">
            <h5>$displayManager.getSingularDisplayNameForProject():</h5>

            <div class="project-multi-select">

                <input type="hidden" name="${schemaElement.getFullXMLName()}.COMBO2_FIELDS" value="${schemaElement.getFullXMLName()}.PROJECT_equals,${schemaElement.getFullXMLName()}.sharing.share.project_equals"/>
                #set($TYPE_value=$!search.getWebFormValue("${schemaElement.getFullXMLName()}.PROJECTS_equals"))
                <select multiple size="6" class="chosen-menu project-multi-select-menu" data-chosen-opts="width:280px" style="min-width:100px;" name="${schemaElement.getFullXMLName()}.COMBO2">
                    #foreach($mr_project in $mr_projects)
                        <option value="'$mr_project'" #if($TYPE_value.indexOf("'$mr_project'")!=-1) SELECTED #end>$mr_project</option>
                    #end
                </select>

                <script type="text/javascript">
                    chosenInit('select.project-multi-select-menu');
                </script>

            </div>
        </div>

        <div class="clear"></div>

    </div>

    <div style="padding-left:40px;" class="search-group by-id">

        <h3><label>Search by Exact IDs
            <input type="checkbox" class="search-method by-id" value="by-id"></label>
        </h3>

        <select name="xnat:ctSessionData.COMBO0_FIELDS">
            <option value="xnat:ctSessionData/ID_in,xnat:ctSessionData/label_in,xnat:ctSessionData/sharing/share/label_in" #if($!search.getWebFormValue("xnat:ctSessionData.COMBO0_FIELDS")=="xnat:ctSessionData/ID_in,xnat:ctSessionData/label_in,xnat:ctSessionData/sharing/share/label_in")SELECTED#end>$displayManager.getSingularDisplayNameForImageSession().toUpperCase() ID</option>
            <option value="xnat:subjectData/ID_in,xnat:subjectData/label_in,xnat:subjectData/sharing/share/label_in" #if($!search.getWebFormValue("xnat:ctSessionData.COMBO0_FIELDS")=="xnat:subjectData/ID_in,xnat:subjectData/label_in,xnat:subjectData/sharing/share/label_in")SELECTED#end>$displayManager.getSingularDisplayNameForSubject().toUpperCase()</option>
        </select>

        <textarea class="exact-ids" name="xnat:ctSessionData.COMBO0" cols="30" rows="6">$!search.getWebFormValue("xnat:ctSessionData.COMBO0")</textarea>

    </div>

    <div class="clear"></div>

</div>

<!-- end: screens/xnat_ctSessionData_search.vm -->
